In [3]:
import pandas as pd

#pd.Series([LISTA DE VALORES], [LISTA DE ÍNDICES], nome)

lista = ('João', 'Carlos', 'Henrique', 'Davi', 'Joana')
s1 = pd.Series(lista, name = 'nomes')

0        João
1      Carlos
2    Henrique
3        Davi
4       Joana
Name: nomes, dtype: object

In [5]:
nomes = ('Ana', 'Carlos', 'Henrique', 'Davi', 'Joana')
s1 = pd.Series(lista, ['A', 'C', 'H', 'D', 'J'])

In [6]:
s1 = pd.Series(4, range(10))

In [11]:
numeros = pd.Series([11, 27, 10, 77, 83, 104, 2.4])
print('Média:',numeros.mean())
print('Máximo:',numeros.max())
print('Mínimo',numeros.min())
print('Desvio padrão:',numeros.std())

print(f'Descrição\n',numeros.describe())

Média: 44.91428571428571
Máximo: 104.0
Mínimo 2.4
Desvio padrão: 41.7706207986518
Descrição
 count      7.000000
mean      44.914286
std       41.770621
min        2.400000
25%       10.500000
50%       27.000000
75%       80.000000
max      104.000000
dtype: float64

In [15]:
cadastro = {
    'Nome': ['Joana', 'Patricia', 'Paulo'],
    'Idade': [35, 21, 44],
    'Estado': ['SP', 'SC', 'PE']
}

cadastro_df = pd.DataFrame(cadastro)
print(cadastro_df)

#display(cadastro_df)

       Nome  Idade Estado
0     Joana     35     SP
1  Patricia     21     SC
2     Paulo     44     PE